<div  class="container" *ngIf="form">
  <div [formGroup]="form" novalidate>
    <!-- Header -->
    <div class="header">
      <h1 class="title">Payment</h1>
    </div>


    <div class="col-md-6 col-xs-12">
      <!-- Payment Detail -->
      <section class="info-card">
        <div class="section-header">
          <h3>Detalhes de Pagamento</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal" formGroupName="paymentInfo">
            <!-- Card Holder's Name -->
            <div class="form-group">
              <div class="col-xs-12">
                <label for="holder-name" class="required-label">Titular do Cartão</label>
                <input disabled type="text" class="form-control" id="holder-name" placeholder="Digite nome do Titular do Cartão"
                       formControlName="holderName">



              </div>
            </div>
            <!-- Card Number -->
            <div class="form-group" >
              <div class="col-xs-12">
                <label for="card-number" class="required-label">Número do Cartão</label>
                <input disabled type="text" class="form-control" id="card-number" placeholder="Digite o Número do Cartão Débito/Crédito"
                       formControlName="number"
                      appDigitOnly>


              </div>
            </div>
            <!-- Expired Date & CVC -->
            <div class="form-group">
              <div class="col-xs-6" >
                <label for="expired-date" class="required-label">Data de Vencimento</label>
                <input disabled type="text" class="form-control" id="expired-date" placeholder="MM/YY"
                       formControlName="validade" appDigitOnly>

              </div>
              <!-- CVC -->
              <div class="col-xs-6">
                <label for="cvc" class="required-label">Código de Segurança</label>
                <input disabled type="text" class="form-control" id="cvc" placeholder="CVV" formControlName="cvv"
                     appDigitOnly>

              </div>
            </div>
          </form>
        </div>
      </section>


      <!-- Submit button -->
      <div class="col-sm-12 col-xs-6">
        <div class="row">
          <div class="col-sm-12 col-md-6 submit-block">
            <a class="btn btn-success btn-confirm"  [routerLink]="['/menu-perfil/payments-edit']" (click)="scrollToTop()">
              Editar
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
