<div  class="container" *ngIf="form">
<div [formGroup]="form" novalidate>
    <!-- Header -->
    <div class="header">
      <h1 class="title">Payment</h1>
    </div>


    <div class="col-md-6 col-xs-12">
      <!-- Payment Detail -->
      <section class="info-card">
        <div class="section-header">
          <h3>Detalhes de Pagamento</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal" formGroupName="paymentInfo">
            <!-- Card Holder's Name -->
            <div class="form-group" [ngClass]="displayFieldCss('paymentInfo.holderName')">
              <div class="col-xs-12">
                <label for="holder-name" class="required-label">Titular do Cartão</label>
                <input type="text" class="form-control" id="holder-name" placeholder="Digite nome do Titular do Cartão"
                       formControlName="holderName">
                <app-field-error-display
                  [displayError]="isRequiredValid('paymentInfo.holderName')"
                  errorMsg="Por favor informe seu Nome">
                </app-field-error-display>
              </div>
            </div>
            <!-- Card Number -->
            <div class="form-group" [ngClass]="displayFieldCss('paymentInfo.number')">
              <div class="col-xs-12">
                <label for="card-number" class="required-label">Número do Cartão</label>
                <input type="text" class="form-control" id="card-number" placeholder="Digite o Número do Cartão Débito/Crédito"
                       formControlName="number"
                       (input)="limitedInputLength( 'paymentInfo.number', 12)" appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('paymentInfo.number')"
                  errorMsg="Por favor informe o numero de cartão">
                </app-field-error-display>
                <app-field-error-display
                  [displayError]="isMinLengthValid('paymentInfo.number')"
                  errorMsg="O Numero de cartão deve conter 12 digitos">
                </app-field-error-display>
              </div>
            </div>
            <!-- Expired Date & CVC -->
            <div class="form-group">
              <div class="col-xs-6" [ngClass]="displayFieldCss('paymentInfo.validate')">
                <label for="expired-date" class="required-label">Data de Vencimento</label>
                <input type="text" class="form-control" id="expired-date" placeholder="MM/YY"
                       formControlName="validate" (input)="checkExpiredDatePattern($event)" appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('paymentInfo.validate')"
                  errorMsg="Por favor informe a data de vencimento do seu cartão">
                </app-field-error-display>
              </div>
              <!-- CVC -->
              <div class="col-xs-6" [ngClass]="displayFieldCss('paymentInfo.cvv')">
                <label for="cvc" class="required-label">Código de Segurança</label>
                <input type="text" class="form-control" id="cvc" placeholder="CVV" formControlName="cvv"
                       (input)="limitedInputLength('paymentInfo.cvv', 3)" appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('paymentInfo.cvv')"
                  errorMsg="Por favor informe o número do CVV">
                </app-field-error-display>
                <app-field-error-display
                  [displayError]="isMinLengthValid('paymentInfo.cvv')"
                  errorMsg="Por favor informe o CVV tem 3 digitos">
                </app-field-error-display>
              </div>
            </div>
          </form>
        </div>
      </section>


      <!-- Submit button -->
      <div class="col-sm-12 col-xs-6">
        <div class="row">
          <div class="col-sm-12 col-md-6 submit-block">
            <button class="btn btn-success btn-confirm"  [disabled] = "buttonDisable" (click)="onSubmit()">
              Salvar
            </button>`
            <a class="btn btn-success btn-confirm" [routerLink]="['/menu-perfil/payments']" >
              Voltar
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
