<a (click)="directTo()" class="thumbnail" *ngIf="data">
  <img [defaultImage]="defaultImage" [lazyLoad]="data.img" [offset]="0">
  <div class="caption">
    <h2>{{data.name}}</h2>
    <p *ngIf="data.onSale" class="price">
      <span>{{data.salePrice  | currency: "BRL" }}</span>
    </p>
    <p *ngIf="!data.onSale" class="price">
      <del style="visibility: hidden">not on sale</del>
    </p>
  </div>
</a>
