<div class="container" *ngIf="form">
  <div [formGroup]="form" novalidate>
    <!-- Header -->
    <div class="header">
      <h1 class="title">Informações da Conta</h1>
    </div>


    <div class="col-md-8 col-xs-12">
      <!-- Customer Info -->
      <section class="info-card">
        <div class="section-header">
          <h3>Dados do Usuário</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal" formGroupName="usuarioInfo">
            <!-- Name -->
            <div class="form-group" [ngClass]="displayFieldCss('usuarioInfo.name')">
              <div class="col-xs-12">
                <label for="name" class="required-label">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Digite Nome e Sobrenome" formControlName="name" disabled>

              </div>
            </div>
            <!-- Email -->
            <div class="form-group" [ngClass]="displayFieldCss('usuarioInfo.email')">
              <div class="col-xs-12">
                <label for="email" class="required-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Digite seu Email / seuemail@exemplo.com" formControlName="email" disabled>

              </div>
            </div>
            <!-- Phone Number -->
            <div class="form-group" [ngClass]="displayFieldCss('usuarioInfo.phone')">
              <div class="col-xs-12">
                <label for="phone-number" class="required-label">Telefone</label>
                <input type="text" class="form-control" id="phone-number" placeholder="Digite o Telefone de contato"
                       formControlName="phone" appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('usuarioInfo.phone')"
                  errorMsg="Por favor informe seu Telefone">
                </app-field-error-display>

              </div>
            </div>
          </form>
        </div>
      </section>
      <!-- Delivery Detail -->
      <section class="info-card">
        <div class="section-header">
          <h3>Endereço</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal" formGroupName="addressInfo">
            <!-- Checkbox -->
            <div class="form-group">
              <!--              <div class="col-xs-12 checkbox">-->
              <!--                <label>-->
              <!--                  <input #delivery_cb type="checkbox" (change)="toggleDeliveryCB(delivery_cb.checked)"> Informações do destinatário são iguais às informações do cliente-->
              <!--                </label>-->
              <!--              </div>-->
            </div>
            <!-- RUA -->
            <div class="form-group" [ngClass]="displayFieldCss('addressInfo.road')">
              <div class="col-xs-12">
                <label for="recipient-name" class="required-label">Rua</label>
                <input type="text" class="form-control" id="recipient-name" placeholder="Digite o nome da Rua"
                       formControlName="road">
                <app-field-error-display
                  [displayError]="isRequiredValid('addressInfo.road')"
                  errorMsg="Por favor informe o nome da sua Rua">
                </app-field-error-display>

              </div>
            </div>
            <!-- Recipient Number -->
            <div class="form-group" [ngClass]="displayFieldCss('addressInfo.number')">
              <div class="col-xs-12">
                <label for="recipient-number" class="required-label">Número ou Quadra</label>
                <input type="text" class="form-control" id="recipient-number" placeholder="Digite o número/quadra"
                       formControlName="number">
                <app-field-error-display
                  [displayError]="isRequiredValid('addressInfo.number')"
                  errorMsg="Por favor informe o número/quadra do seu Endereço">
                </app-field-error-display>
              </div>
            </div>

            <hr>
            <!-- Address -->
            <!-- Address Line 1 -->
            <div class="form-group" [ngClass]="displayFieldCss('addressInfo.complement')">
              <div class="col-xs-12">
                <label for="add-line-1" class="required-label">Complemento</label>
                <input type="text" class="form-control" id="add-line-1" placeholder="Digite o Complemento pro endereço"
                       formControlName="complement">
                <app-field-error-display
                  [displayError]="isRequiredValid('addressInfo.complement')"
                  errorMsg="Por favor informe seu Endereço">
                </app-field-error-display>

              </div>
            </div>
            <!-- Address Line 2 -->
            <div class="form-group">
              <div class="col-xs-12">
                <label for="add-line-1" class="required-label">Bairro</label>
                <input type="text" class="form-control" id="add-line-2" placeholder="Digite o nome do Bairro"
                       formControlName="district">
              </div>
            </div>
            <!-- City -->
            <!-- State & Postcode -->
            <div class="form-group">
              <!-- State -->
              <!-- Postcode -->
              <div class="col-xs-6" [ngClass]="displayFieldCss('addressInfo.cep')">
                <label for="postcode" class="required-label">CEP</label>
                <input type="text" class="form-control" id="postcode" placeholder="CEP" formControlName="cep"
                       appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('addressInfo.cep')"
                  errorMsg="Por favor informe seu CEP">
                </app-field-error-display>

              </div>
            </div>
          </form>
        </div>
      </section>
      <section class="info-card">
        <div class="section-header">
          <h3>Estado</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal">
            <!-- Name -->
            <div *ngIf="estados" class="form-group">
              <label  for="estado">Selecione o Estado:</label>
              <select (click)="listarCidadesByEstados()" [(ngModel)]="estadoSelecionada" [formControl]="controlEstado"
                      class="form-control" id="estado" required>
                <option class="dropbtn" *ngFor="let item of estados" [value]="item.id">
                  {{item.name}}
                </option>
              </select>
            </div>
          </form>
        </div>
      </section>
      <section class="info-card">
        <div class="section-header">
          <h3>Cidade</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal">
            <!-- Name -->
            <div class="form-group" >
              <label for="city">Selecione a Cidade:</label>
              <select [(ngModel)]="cidadeSelecionada" [formControl]="controlCidade" class="form-control" id="city" required>
                <option name="cacete" class="dropbtn" *ngFor="let item of cidade" [value]="item.id">
                  {{item.name}}
                </option>
              </select>
            </div>
          </form>
        </div>
      </section>



      <!-- Submit button -->
      <div class="col-xs-12 ">
        <div class="row">
          <div class="col-sm-12 col-md-6 submit-block">
            <button class="btn btn-success btn-confirm"  [disabled] = "buttonDisable" (click)="onSubmit()">
              Salvar
            </button>`
            <a class="btn btn-success btn-confirm" [routerLink]="['/menu-perfil/account-information']" (click)="scrollToTop()">
              Voltar
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

