<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Mudança de menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['./']"><label class="logo">Fashion<span>Boot</span></label></a>
    </div>

    <!-- Hide for mobile devices -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <!-- Right Menu -->
      <ul class="nav navbar-nav navbar-right">

        <li class="nav-item">
          <a href="#" class="nav-link waves-light">Home<span class="sr-only">(current)</span></a>
        </li>


        <!-- Dropdown -->

        <!--Marcas-->
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle waves-light" type="button" id="dropdownMarcasButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Marcas
            <span class="caret"></span></a>
          <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMarcasButton">
            <option class="dropbtn active" *ngFor="let item of menuBrand" [value]="item.name"  (click)="listByMarca(item.name)">
              {{item.name}}
            </option>
          </div>
        </li>

        <!--Categoria-->
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle waves-light" type="button" id="dropdownMCategoriaButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categorias
            <span class="caret"></span></a>
          <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMCategoriaButton">
            <option class="dropbtn" *ngFor="let item of menuCategory" [value]="item.name"  (click)="listCategoria(item.name)">
              {{item.name}}
            </option>
          </div>
        </li>

        <li>
          <a [routerLink]="'./shopping-cart'" class="cart">Carrinho<span
              class="badge my-badge">{{dataService.shoppingCartData.length}}</span></a>
        </li>

        <li class="form-inline waves-light">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2 search" type="text" [(ngModel)]="produtoName"  [formControl]="produtoNameControl" placeholder="Search..">
            <button class="form-control mr-sm-2" (click)="searchProduto(produtoName)" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </li>

        <!--        PERFIL-->
        <li *ngIf="bntLogout" class="nav-item dropdown perfil" dropdown >
          <ul type="button" class="btn btn-default"  >
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <label>Perfil</label>
            <span class="caret" aria-hidden="true"></span>
          </ul>
          <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
            <option class="dropbtn" [routerLink]="['menu-perfil/pedidos']" >
              Meus Pedidos
            </option>
            <option class="dropbtn" [routerLink]="['menu-perfil/account-information']" >
              Informaçoes de Conta
            </option>
            <option class="dropbtn" [routerLink]="['menu-perfil/payments']" >
              Pagamento
            </option>
          </div>
        </li>

        <button *ngIf="bntLogout" style="margin-left: 10px" (click)="logout()" type="button" class="btn btn-light" >Logout</button>

        <button *ngIf="bntLogin" style="margin-left: 10px" (click)="login()" type="button" class="btn btn-light">Login</button>

      </ul>


    </div>
  </div>
</nav>
