.navbar {
  padding-top: 50px;
}
.search{
  margin-left: 40px;
  width: 300px;
}

.perfil{
  margin-left: 10px;
}

.my-dropdown-menu {
  z-index: 9999;
}

.logout {
  margin-left: 10px;
}


.my-dropdown-menu li a {
  cursor: pointer;
  padding: 10px 20px;
  position: relative;
  color: #333;
}

.my-dropdown-menu li a:hover {
  color: #13b8aa;
  background-color: transparent;
}

.my-dropdown-menu li + li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 1em;
  margin-right: 1em;
  border-top: 1px solid #eee;
}

.nav li {
  cursor: pointer;
}


.logo {
  font-size: 30px;
  text-transform: uppercase;
  cursor: pointer;

  span {
    font-weight: 300;
  }
}

.cart {
  .my-badge {
    margin-left: 4px;
    padding-right: 40px;
    background-color: #13b8aa;
    position: relative;
    top: -2px;
  }
}


/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.navbar a:hover, .dropdown:hover {
  background-color: rgb(206, 187, 187);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content option  {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content option:hover {background-color: rgb(206, 187, 187);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn:hover {background-color:rgb(206, 187, 187);}
