<div class="footer">
  <div class="container footer-data1">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="footer-menu1">
          <ul class="list-unstyled">
            <li><a>Seus pedidos</a></li>
            <li><a>Devoluções & Substituições</a></li>
            <li><a>Taxas & Políticas de envio</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="footer-menu2">
          <ul class="list-unstyled">
            <li><a>Contate-Nos</a></li>
            <li><a>Facebook</a></li>
            <li><a>Website oficial</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Sponsors -->
  <div class="container footer-data2">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <a><img src="https://picsum.photos/120/40?random=5"></a>
        <a><img src="https://picsum.photos/120/40?random=6"></a>
      </div>
    </div>
  </div>
</div>
