.footer {
  background-color: #eee;
}

.footer .footer-data1 {
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .footer-data2 {
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer .footer-data2 a {
  margin-right: 5px;
}

.footer .footer-data1 a {
  color: #666;
  text-decoration: none;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  /* ...and now for the proper property */
  transition: .5s;
}

.footer .footer-data1 a:hover {
  color: #13b8aa;
}

@media screen and (min-width: 768px) {
  .footer-menu2 {
    text-align: right;
  }
}
