<div class="container">
  <div class="col-md-3 hidden-sm hidden-xs">
    <app-category-sidebar></app-category-sidebar>
  </div>

  <div class="col-md-9 col-sm-12 product-list">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>

</div>


