<!-- Delivery Detail -->
<div class="container">
  <div [formGroup]="form" novalidate>
    <!-- Header -->
    <br>
    <br>

    <div class="col-md-10 col-xs-12">
      <section class="info-card">
        <div class="section-header">
          <h3>Endereço</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal" formGroupName="addressInfo">
            <!-- Recipient Name -->
            <div class="form-group" [ngClass]="displayFieldCss('addressInfo.road')">
              <div class="col-xs-12">
                <label for="recipient-name" class="required-label">Rua</label>
                <input type="text" class="form-control" id="recipient-name" placeholder="Digite o nome da Rua"
                       formControlName="road">
                <app-field-error-display
                  [displayError]="isRequiredValid('addressInfo.road')"
                  errorMsg="Please inform Recipient Name">
                </app-field-error-display>
              </div>
            </div>
            <!-- Recipient Number -->
            <div class="form-group" [ngClass]="displayFieldCss('addressInfo.number')">
              <div class="col-xs-12">
                <label for="recipient-number" class="required-label">Número ou Quadra</label>
                <input type="text" class="form-control" id="recipient-number" placeholder="Digite Número/Quadra"
                       formControlName="number" appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('addressInfo.number')"
                  errorMsg="Please inform Recipient Phone Number">
                </app-field-error-display>
              </div>
            </div>

            <hr>
            <!-- Address -->
            <!-- Address Line 1 -->
            <div class="form-group" [ngClass]="displayFieldCss('addressInfo.complement')">
              <div class="col-xs-12">
                <label for="add-line-1" class="required-label">Complemento</label>
                <input type="text" class="form-control" id="add-line-1" placeholder="Digite um Complemento pro Endereço"
                       formControlName="complement">
                <app-field-error-display
                  [displayError]="isRequiredValid('addressInfo.complement')"
                  errorMsg="Please inform your Address">
                </app-field-error-display>
              </div>
            </div>
            <!-- Address Line 2 -->
            <div class="form-group">
              <div class="col-xs-12">
                <label for="add-line-1" class="required-label">Bairro</label>
                <input type="text" class="form-control" id="add-line-2" placeholder="Digite o nome do Bairro"
                       formControlName="district">
              </div>
            </div>
            <!-- City -->
            <!-- State & Postcode -->
            <div class="form-group">
              <!-- State -->
              <!-- Postcode -->
              <div class="col-xs-6" [ngClass]="displayFieldCss('addressInfo.cep')">
                <label for="postcode" class="required-label">CEP</label>
                <input type="text" class="form-control" id="postcode" placeholder="Digite o número do CEP"
                       formControlName="cep"
                       appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('addressInfo.cep')"
                  errorMsg="Please inform your Postcode">
                </app-field-error-display>
              </div>
            </div>
          </form>
        </div>
      </section>

      <hr>
      <!--  estado-->
      <div class="col-xs-6">
        <section class="info-card">
          <div class="section-header">
            <h3>Estado</h3>
          </div>
          <div class="section-body">
            <form class="form-horizontal">
              <!-- State -->
              <div class="form-group">
                <label for="estado">Selecione o nome do Estado:</label>
                <select (click)="findCidades()" [(ngModel)]="estadoSelecionada" [formControl]="controlEstado"
                        class="form-control" id="estado">
                  <option class="dropbtn" *ngFor="let item of estados" [value]="item.name">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </form>
          </div>
        </section>
      </div>
      <!--cidades-->
      <div class="col-xs-6">
        <section class="info-card">
          <div class="section-header">
            <h3>Cidade</h3>
          </div>
          <div class="section-body">
            <form class="form-horizontal">
              <!-- CIty -->
              <div class="form-group">
                <label for="city">Selecione o nome da Cidade:</label>
                <select [(ngModel)]="cidadeSelecionada" [formControl]="controlCidade" class="form-control" id="city">
                  <option name="cacete" class="dropbtn" *ngFor="let item of cidade" [value]="item.id">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </form>
          </div>
        </section>
      </div>


    </div>

    <!-- Submit button -->
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-12 col-md-6 submit-block">
          <a class="btn btn-success btn-confirm" (click)="onSubmit()" href="#">
            Concluir
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
