.title {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 2px;
  font-size: 18px;
}
.custom{
  margin-left: 8%;
  margin-top: 8%;
}
hr {
  height: 0;
  box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.summary {
  float: right;

  h3 {
    margin: 5px 0;
    font-size: 15px;
    text-align: right;
    letter-spacing: 0px;
  }

  h5 {
    text-align: right;
  }
}

.header-panel {
  margin-bottom: 15px;

  h3 {
    margin: 5px 0;
    font-size: 17px;
    text-align: right;
    letter-spacing: 0px;
  }

  h5 {
    text-align: right;
  }
}

.info-card {
  border-radius: 0px;
  border: 1px solid #ededed;
  margin-bottom: 30px;
  padding: 0 15px;
  background-color: white;
}

.section-header {
  padding: 10px 15px;
  margin: 0 -15px;
  font-weight: 500;
  text-align: center;
  background-color: #F6F6F6;
  line-height: 26px;
  color: #666;

  h3 {
    padding: 2px 0;
    font-weight: 500;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
  }
}

.section-body {
  padding: 15px 0 0 0;

  div {
    position: relative;
  }

  hr {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }

}

.required-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top: 0px;
}

.submit-block {
  margin: 0px auto;
  float: none;
}

.btn-confirm {
  background-color: #13b8aa;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.btn-confirm:hover {
  background-color: #13b8aa;
  border-color: #13b8aa;
}
