<div class="container ">
  <div [formGroup]="form" novalidate>
    <!-- Header -->


    <div class="col-md-10 col-xs-12 custom">
      <!-- Customer Info -->
      <section class="info-card">
        <div class="section-header">
          <h3 class="title">Login</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal" formGroupName="userInfo">
            <!-- Email -->
            <div class="form-group" [ngClass]="displayFieldCss('userInfo.email')">
              <div class="col-xs-12">
                <label for="email" class="required-label">Email</label>
                <input type="email" class="form-control" id="email"
                       placeholder="Digite seu E-email / seuemail@exemplo.com.br" formControlName="email">
                <app-field-error-display
                  [displayError]="isRequiredValid('userInfo.email')"
                  errorMsg="Please inform your Email">
                </app-field-error-display>
              </div>
            </div>
            <!-- Password -->
            <div class="form-group" [ngClass]="displayFieldCss('userInfo.password')">
              <div class="col-xs-12">
                <label for="password" class="required-label">Senha</label>
                <input type="password" class="form-control" id="password" placeholder="*****"
                       formControlName="password">
                <app-field-error-display
                  [displayError]="isRequiredValid('userInfo.password')"
                  errorMsg="Please inform your name">
                </app-field-error-display>
              </div>
            </div>

            <!--            esqueci a senha-->
            <a href="#">Esqueci minha senha</a>

          </form>
        </div>
      </section>
    </div>


    <!-- Submit button -->
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-12 col-md-6  submit-block">
          <a class="btn btn-success btn-confirm" (click)="onSubmit()" href="#">
            Entrar
          </a>
          <!--          registrar button-->
          <a class="btn btn-success btn-confirm" (click)="onSubmit()" [routerLink]="['/register']">
            Registrar
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
