<div *ngIf="data" class="container">
  <h1 class="sc-header">Shopping Cart</h1>
  <hr>
  <!-- Shopping Cart Empty -->
  <div *ngIf="data.length === 0" class="col-md-12">
    <h3 class="empty"><i>Seu Carrinho Está Vazio</i></h3>
    <a class="btn btn-continue pull-right" [routerLink]="'../category/Roupas'">
      Continue Shopping <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </a>
  </div>
  <!-- Cart Cards -->
  <div *ngIf="data.length !== 0" class="col-md-8 col-xs-12">
    <ul class="cart-wrap">

      <li *ngFor="let item of data; let i = index" class="cart-item" [class.even-section]="i%2 == 0">
        <div class="info-wrap">
          <!-- Product Info -->
          <div class="cart-section product-info">
            <img [src]="item.product.img">
            <p class="item-number">#{{item.product.id}}</p>
            <h3 class="item-name">{{item.product.name}} - {{item.option.name}}</h3>
            <p class="qty">
              <input type="text" class="qty-input" [(ngModel)]="item.quantity" (keyup)="updateItem(item)">
              x {{item.product.salePrice | currency: "BRL"}}
            </p>
            <p class="stock-status"
               [class.out-stock]="!item.product.inStock">{{item.product.inStock ? "In Stock" : "Out of Stock"}}</p>
          </div>
          <!-- Total Price -->
          <div class="cart-section price-total">
            <p>{{getTotalPrice(item) | currency: "BRL"}}</p>
          </div>
          <div class="cart-section remove-wrap">
            <!-- <a class="remove-button" (click)="removeItem(item)">x</a> -->
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true" (click)="removeItem(item)"
                                                                         tooltip="Remove">&times;</span></button>
          </div>
        </div>
      </li>
    </ul>

    <a class="btn btn-continue pull-right" [routerLink]="'../category/Roupas'">
      Continue Shopping <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </a>
  </div>
  <!-- Order Summary -->
  <div *ngIf="data.length !== 0" class="col-md-4 col-xs-12">
    <section class="order-summary">
      <div class="section-header">
        <h3>Order Summary</h3>
      </div>
      <div class="section-body">
        <div>
          <div class="price-info">
            <span class="pull-left">Subtotal</span>
            <span class="pull-right">{{subTotal | currency: "BRL"}}</span>
          </div>
          <div class="price-info">
            <span class="pull-left">Entrega</span>
            <span class="pull-right">{{shippingFee | currency: "BRL"}}</span>
          </div>
          <div class="price-info">
            <span class="pull-left">Taxa({{taxPercentage | currency: "BRL" }}%)</span>
            <span class="pull-right">{{tax | currency: "BRL"}}</span>
          </div>
          <hr>
          <div class="price-info total">
            <span class="pull-left">Total</span>
            <span class="pull-right">{{total | currency: "BRL"}}</span>
          </div>
          <a class="btn btn-success btn-check-out" [routerLink]="['/payment']" (click)="onCheckOut()">Finalizar Compras</a>
        </div>
      </div>
    </section>
  </div>


</div>
