.my-container {
  padding: 15px 0;
  min-height: 500px;
}

.gallery {
  margin-bottom: 20px;
}

hr {
  height: 0;
  box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.caption {
  padding-left: 0;
  padding-right: 0;
  height: 225px;
  position: relative;

  h2 {
    color: #555;
    font-size: 30px;
    margin-top: 0;
  }

  h3 {
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 20px 0;
  }

  .price {
    display: block;
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    color: #666;

    del {
      display: block;
      font-size: 20px;
      color: #999;
    }

    .sale {
      display: block;
      color: #c0392b;
    }
  }
}

.add-cart-btn {
  width: 100%;
  border-radius: 0px;
  background-color: #00bcaa;
  border-color: #00bcaa;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.btn-disabled {
  background-color: #00bcaa80;
  border-color: white;
}

.btn-disabled:hover {
  background-color: #00bcaa80;
  border-color: white;
}

.des-header,
.rd-header {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #555;
  font-weight: 300;
  margin-bottom: 30px;
}

.des-content {
  min-height: 300px
}


@media screen and (min-width: 992px) {
  .caption {
    height: 235px;
  }
}
