<div class="my-container" >
  <div class="row">
    <!-- Gallery -->
    <div class="col-sm-6 col-xs-12">
      <div *ngIf="data" class="gallery">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
    </div>
    <!-- Product Info -->
    <div *ngIf="data" class="col-sm-6 col-xs-12">
      <div class="caption">
        <h2>{{data.name}}</h2>
        <h3>{{data.description}}</h3>
        <!-- On Sale -->
        <p *ngIf="data.onSale" class="price">

          <span >{{data.salePrice | currency: "BRL"}}</span>
        </p>
        <!-- Not On Sale -->
        <p *ngIf="!data.onSale" class="price">
          <del style="visibility: hidden">not on sale</del>
        </p>
      </div>
      <!-- Dropdown -->
      <app-dropdown [data]="data.options" [header]="'Tamanho'" (selected)="dropdownOnChange($event)"></app-dropdown>
      <!-- Quantity Input -->
      <app-quantity-input [header]="'QUANTIDADE'" (valueChanged)="quantityOnChange($event)"></app-quantity-input>
      <!-- Add to Cart -->
      <button *ngIf="data" type="button" class="btn btn-primary add-cart-btn" [class.btn-disabled]="!data.inStock"
              [disabled]="!data.inStock"
              (click)="addToCart()">{{data.inStock ? "ADICIONAR AO CARRINHO" : "SEM ESTOQUE"}}</button>
    </div>
  </div>
  <hr>
  <!-- Description -->
  <div class="row">
    <div class="col-md-12">
      <h3 class="des-header">Description</h3>
      <div class="des-content">
        {{data.detail}}
      </div>
    </div>
  </div>
  <hr>
  <!-- Related Products -->
  <div class="row">
    <div class="col-md-12">
      <h3 class="rd-header">Produtos Relacionados</h3>
      <div class="row">
        <div *ngFor="let rp of relatedProducts" class="col-xs-6 col-sm-3">
          <app-product-thumbnail [data]="rp"></app-product-thumbnail>
        </div>
      </div>
    </div>
  </div>

</div>
