<app-header ></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- Notification Service -->
<notifier-container></notifier-container>

<!-- Side Shopping Cart -->
<a class="hidden-xs cart" [routerLink]="'./shopping-cart'"><span
  class="counter">{{dataService.shoppingCartData.length}}</span></a>
