<div class="container-fluid">
  <div class="col-md-3">
    <app-perfil-sidebar></app-perfil-sidebar>
  </div>
  <div class="col-md-9 col-sm-12">
    <router-outlet (click)="onActivate($event)"></router-outlet>
  </div>
</div>


