<ol *ngIf="category  &&  productList" class="breadcrumb my-breadcrumb">
  <li><a [routerLink]="[['./all']]">All Products</a></li>
  <li *ngIf="category !=='all'">{{category}}</li>
</ol>
<app-product-list *ngIf="productList" [data]="productList"></app-product-list>

