<div class="container" *ngIf="form">
  <div [formGroup]="form" novalidate>
    <!-- Header -->
    <div class="header">
      <h1 class="title">Payment</h1>
      <div class="summary">
        <h3>Valor Total: ${{data.totalPrice}}</h3>
        <h5> Produto(s) Selecionado(s): {{getTotalItems()}}</h5>
      </div>
    </div>


    <div class="col-md-6 col-xs-12">
      <!-- Customer Info -->
      <section class="info-card">
        <div class="section-header">
          <h3>Dados do Usuário</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal" formGroupName="usuarioInfo">
            <!-- Name -->
            <div class="form-group" [ngClass]="displayFieldCss('usuarioInfo.name')">
              <div class="col-xs-12">
                <label for="name" class="required-label">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Digite Nome e Sobrenome" formControlName="name">
                <app-field-error-display
                  [displayError]="isRequiredValid('usuarioInfo.name')"
                  errorMsg="Please inform your name">
                </app-field-error-display>
              </div>
            </div>
            <!-- Email -->
            <div class="form-group" [ngClass]="displayFieldCss('usuarioInfo.email')">
              <div class="col-xs-12">
                <label for="email" class="required-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Digite seu Email / seuemail@exemplo.com" formControlName="email">
                <app-field-error-display
                  [displayError]="isRequiredValid('usuarioInfo.email')"
                  errorMsg="Please inform your Email">
                </app-field-error-display>
              </div>
            </div>
            <!-- Phone Number -->
            <div class="form-group" [ngClass]="displayFieldCss('usuarioInfo.number')">
              <div class="col-xs-12">
                <label for="phone-number" class="required-label">Telefone</label>
                <input type="text" class="form-control" id="phone-number" placeholder="Digite o Telefone de contato"
                       formControlName="number" appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('usuarioInfo.number')"
                  errorMsg="Please inform your Phone Number">
                </app-field-error-display>
              </div>
            </div>
          </form>
        </div>
      </section>

      <!-- Payment Detail -->
      <section class="info-card">
        <div class="section-header">
          <h3>Detalhes do Pagamento</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal" formGroupName="paymentInfo">
            <!-- Card Holder's Name -->
            <div class="form-group" [ngClass]="displayFieldCss('paymentInfo.holderName')">
              <div class="col-xs-12">
                <label for="holder-name" class="required-label">Titular do Cartão</label>
                <input type="text" class="form-control" id="holder-name" placeholder="Digite nome do Titular do Cartão"
                       formControlName="holderName">
                <app-field-error-display
                  [displayError]="isRequiredValid('paymentInfo.holderName')"
                  errorMsg="Please inform your Holder Name">
                </app-field-error-display>
              </div>
            </div>
            <!-- Card Number -->
            <div class="form-group" [ngClass]="displayFieldCss('paymentInfo.number')">
              <div class="col-xs-12">
                <label for="card-number" class="required-label">Número do Cartão</label>
                <input type="text" class="form-control" id="card-number" placeholder="Digite o Número do Cartão Débito/Crédito"
                       formControlName="number"
                       (input)="limitedInputLength( 'paymentInfo.number', 12)" appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('paymentInfo.number')"
                  errorMsg="Please inform your Card Number">
                </app-field-error-display>
                <app-field-error-display
                  [displayError]="isMinLengthValid('paymentInfo.number')"
                  errorMsg="Card Number must be 12 digit codes">
                </app-field-error-display>
              </div>
            </div>
            <!-- Expired Date & CVC -->
            <div class="form-group">
              <div class="col-xs-6" [ngClass]="displayFieldCss('paymentInfo.validate')">
                <label for="expired-date" class="required-label">Data de Vencimento</label>
                <input type="text" class="form-control" id="expired-date" placeholder="MM/YY"
                       formControlName="validate" (input)="checkExpiredDatePattern($event)" appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('paymentInfo.validate')"
                  errorMsg="Please inform Card Expired Date">
                </app-field-error-display>
              </div>
              <!-- CVC -->
              <div class="col-xs-6" [ngClass]="displayFieldCss('paymentInfo.cvv')">
                <label for="cvc" class="required-label">Código de Segurança</label>
                <input type="text" class="form-control" id="cvc" placeholder="CVV" formControlName="cvv"
                       (input)="limitedInputLength('paymentInfo.cvv', 3)" appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('paymentInfo.cvv')"
                  errorMsg="Please inform Card CVC">
                </app-field-error-display>
                <app-field-error-display
                  [displayError]="isMinLengthValid('paymentInfo.cvv')"
                  errorMsg="CVC must be 3 digit codes">
                </app-field-error-display>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <!-- Delivery Detail -->
    <div class="col-md-6 col-xs-12">
      <section class="info-card">
        <div class="section-header">
          <h3>Endereço</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal" formGroupName="addressInfo">
            <!-- Checkbox -->
            <div class="form-group">
<!--              <div class="col-xs-12 checkbox">-->
<!--                <label>-->
<!--                  <input #delivery_cb type="checkbox" (change)="toggleDeliveryCB(delivery_cb.checked)"> Informações do destinatário são iguais às informações do cliente-->
<!--                </label>-->
<!--              </div>-->
            </div>
            <!-- RUA -->
            <div class="form-group" [ngClass]="displayFieldCss('addressInfo.road')">
              <div class="col-xs-12">
                <label for="recipient-name" class="required-label">Rua</label>
                <input type="text" class="form-control" id="recipient-name" placeholder="Digite o nome da Rua"
                       formControlName="road">
                <app-field-error-display
                  [displayError]="isRequiredValid('addressInfo.road')"
                  errorMsg="Please inform Recipient Name">
                </app-field-error-display>
              </div>
            </div>
            <!-- Recipient Number -->
            <div class="form-group" [ngClass]="displayFieldCss('addressInfo.number')">
              <div class="col-xs-12">
                <label for="recipient-number" class="required-label">Número ou Quadra</label>
                <input type="text" class="form-control" id="recipient-number" placeholder="Digite o número/quadra"
                       formControlName="number" appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('addressInfo.number')"
                  errorMsg="Please inform Recipient Phone Number">
                </app-field-error-display>
              </div>
            </div>

            <hr>
            <!-- Address -->
            <!-- Address Line 1 -->
            <div class="form-group" [ngClass]="displayFieldCss('addressInfo.complement')">
              <div class="col-xs-12">
                <label for="add-line-1" class="required-label">Complemento</label>
                <input type="text" class="form-control" id="add-line-1" placeholder="Digite o Complemento pro endereço"
                       formControlName="complement">
                <app-field-error-display
                  [displayError]="isRequiredValid('addressInfo.complement')"
                  errorMsg="Please inform your Address">
                </app-field-error-display>
              </div>
            </div>
            <!-- Address Line 2 -->
            <div class="form-group">
              <div class="col-xs-12">
                <label for="add-line-1" class="required-label">Bairro</label>
                <input type="text" class="form-control" id="add-line-2" placeholder="Digite o nome do Bairro"
                       formControlName="district">
              </div>
            </div>
            <!-- City -->
            <!-- State & Postcode -->
            <div class="form-group">
              <!-- State -->
              <!-- Postcode -->
              <div class="col-xs-6" [ngClass]="displayFieldCss('addressInfo.cep')">
                <label for="postcode" class="required-label">CEP</label>
                <input type="text" class="form-control" id="postcode" placeholder="CEP" formControlName="cep"
                       appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('addressInfo.cep')"
                  errorMsg="Please inform your Postcode">
                </app-field-error-display>
              </div>
            </div>
          </form>
        </div>
      </section>
      <section class="info-card">
        <div class="section-header">
          <h3>Estado</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal">
            <!-- Name -->
            <div class="form-group">
              <label for="estado">Selecione o Estado:</label>
              <select (click)="listarEstados()" [(ngModel)]="estadoSelecionada" [formControl]="controlEstado"
                      class="form-control" id="estado" disabled>
                <option class="dropbtn" *ngFor="let item of estados" [value]="item.id">
                  {{item.name}}
                </option>
              </select>
            </div>
          </form>
        </div>
      </section>
      <section class="info-card">
        <div class="section-header">
          <h3>Cidade</h3>
        </div>
        <div class="section-body">
          <form class="form-horizontal">
            <!-- Name -->
            <div class="form-group">
              <label for="city">Selecione a Cidade:</label>
              <select [(ngModel)]="cidadeSelecionada" [formControl]="controlCidade" class="form-control" id="city" disabled>
                <option name="cacete" class="dropbtn" *ngFor="let item of cidade" [value]="item.id">
                  {{item.name}}
                </option>
              </select>
            </div>
          </form>
        </div>
      </section>


    </div>


    <!-- Submit button -->
    <div class="col-xs-12">
      <div class="row">

        <div class="col-sm-12 col-md-6 submit-block">

            <i  class="fa fa-spinner fa-spin" style="width: 5rem; height: 5rem;" *ngIf="!load" ></i>
          <button *ngIf="!rebuy" class="btn btn-success btn-confirm btn-xs" type="button" (click)="onSubmit()">
            Finalizar Compra
          </button>

        </div>
      </div>
    </div>

  </div>

</div>
