<div class="cate-menu">
  <p class="global-primary dark-primary">Categories</p>
  <ul *ngIf="categoryList" id="sidebar">

    <li *ngFor="let category of categoryList">
      <a [routerLink]="['./'+ category.name]" routerLinkActive="active-link">{{category.name}}</a>
      <span class="cate-count">{{category.count}}</span>
    </li>
  </ul>
</div>
