<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container" *ngIf="pronto">
  <h2 style="text-align: center">Pedidos</h2>
  <br>
  <table id="teste" style="margin-bottom: 15%;" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">codigo</th>
      <th scope="col" sortable="status">Status</th>
      <th scope="col" sortable="date_purchase da compra">Data de compra</th>
      <th scope="col" sortable="valor total">Valor Total</th>
      <th scope="col" sortable="acoes">Detalhes</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let pedido of pedidos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <th style="padding-left: 20px" scope="row">{{ pedido.id }}</th>
      <td>
        {{ pedido.status }}
      </td>
      <td>{{ pedido.date_purchase | date: 'longDate'}} </td>
      <td style="padding-left: 25px">{{ pedido.totalPrice  | currency: "BRL"}}</td>
      <td style="padding-left: 20px">
        <button (click)="verDetalhes(pedido.id);" type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="refreshCountries()">
    </ngb-pagination>
    <select class="form-control" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
      <option [ngValue]="2">2 items por page</option>
      <option [ngValue]="4">4 items por page</option>
      <option [ngValue]="6">6 items por page</option>
    </select>
  </div>
</div>


