<div class="cate-menu">
    <p class="global-primary dark-primary">Opções</p>
    <ul id="sidebar">
      <li><a [routerLink]="['pedidos']" routerLinkActive="active-link">Pedidos</a>
      <li><a [routerLink]="['account-information']" routerLinkActive="active-link">Informaçoes de Conta</a></li>
      <li><a [routerLink]="['payments']" routerLinkActive="active-link">Pagamento</a>
    </ul>
  </div>
