<div class="container" *ngIf="pronto">
  <h2 style="text-align: center">Pedidos</h2>
  <br>
  <table id="teste" style="margin-bottom: 15%;" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">codigo</th>
      <th scope="col" sortable="status">Produto</th>
      <th scope="col" sortable="date_purchase da compra">Quantidade</th>
      <th scope="col" sortable="valor total">Tamanho</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pedido of itemOrdered | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <th scope="row">{{ pedido.id }}</th>
      <td>
        {{ pedido.product.name }}
      </td>
      <td>{{ pedido.quantity  | number}} </td>
      <td>{{ pedido.option.value }}</td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="refreshCountries()">
    </ngb-pagination>
    <select class="form-control" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
      <option [ngValue]="2">2 items por page</option>
      <option [ngValue]="4">4 items por page</option>
      <option [ngValue]="6">6 items por page</option>
    </select>
  </div>
</div>


