<div class="container">
  <div [formGroup]="form" novalidate>
    <!-- Header -->

    <br>
    <br>
    <div class="col-md-10 col-xs-12">
      <!-- Customer Info -->
      <section class="info-card">
        <div class="section-header">
          <h1 class="title">Registro de Cliente</h1>
        </div>
        <div class="section-body">
          <form class="form-horizontal" formGroupName="usuarioInfo">
            <!-- Name -->
            <div class="form-group" [ngClass]="displayFieldCss('usuarioInfo.name')">
              <div class="col-xs-12">
                <label for="name" class="required-label">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Digite o Nome e Sobrenome"
                       formControlName="name">
                <app-field-error-display
                  [displayError]="isRequiredValid('usuarioInfo.name')"
                  errorMsg="Please inform your name">
                </app-field-error-display>
              </div>
            </div>
            <!-- Email -->
            <div class="form-group" [ngClass]="displayFieldCss('usuarioInfo.email')">
              <div class="col-xs-12">
                <label for="email" class="required-label">Email</label>
                <input type="email" class="form-control" id="email"
                       placeholder="Digite seu Email / seuemail@exemplo.com.br " formControlName="email">
                <app-field-error-display
                  [displayError]="isRequiredValid('usuarioInfo.email')"
                  errorMsg="Please inform your Email">
                </app-field-error-display>
              </div>
            </div>
            <!-- Password  password-->
            <div class="form-group" [ngClass]="displayFieldCss('usuarioInfo.password')">
              <div class="col-xs-12">
                <label for="password" class="required-label">Senha </label>
                <input type="password" class="form-control" id="password" placeholder="*****"
                       formControlName="password">
                <app-field-error-display
                  [displayError]="isRequiredValid('usuarioInfo.password')"
                  errorMsg="Please inform your Password">
                </app-field-error-display>
              </div>
            </div>
            <!--            confirm password-->
<!--            <div class="form-group" [ngClass]="displayFieldCss('userInfo.password')">-->
            <div class="form-group" >
              <div class="col-xs-12">
                <label for="confpassword" class="required-label">Confirme sua Senha</label>
                <input type="password" class="form-control" id="confpassword" placeholder="*****"
                       formControlName="password">
<!--                <app-field-error-display-->
<!--                  [displayError]="isRequiredValid('userInfo.password')"-->
<!--                  errorMsg="Please inform your name">-->
<!--                </app-field-error-display>-->
              </div>
            </div>
            <!-- Phone Number -->
            <div class="form-group" [ngClass]="displayFieldCss('usuarioInfo.phone')">
              <div class="col-xs-12">
                <label for="phone-number" class="required-label">Telefone</label>
                <input type="text" class="form-control" id="phone-number" placeholder="Digite seu Telefone"
                       formControlName="phone" appDigitOnly>
                <app-field-error-display
                  [displayError]="isRequiredValid('usuarioInfo.phone')"
                  errorMsg="Please inform your Phone Number">
                </app-field-error-display>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <!-- Submit button -->
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-12 col-md-6 submit-block">
          <a class="btn btn-success btn-confirm" (click)="onSubmit()" [routerLink]="['/register/delivery']">
            Avançar
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
